appdirs
chardet
commonregex
datefinder
Django
djangorestframework
docx2txt
elasticsearch
nltk
packaging
pdfminer.six
ply
py
pyparsing
pytest
python-dateutil
pytz
regex
ruamel.yaml
six
tzlocal
urllib3
